@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #1a1a1a;
}

:root.light {
  --background: #fafafa;
  --foreground: #1a1a1a;
}

:root.dark {
  --background: #111;
  --foreground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #111;
    --foreground: #e5e5e5;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
}
